@import "~styles/global/mixins/colors.scss";
@import "~styles/global/mixins/fonts.scss";

$rounded-1: 4%;
$rounded-2: 40%;

.numpad {
	width: 280px;
	height: 350px;
	position: relative;
	
	display: flex;
	flex-flow: row wrap;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 33.33333%;

	z-index: 100;
	margin-left: -1px;
    margin-bottom: -1px;
	
	@include transparentBg();
	@include secondaryFont();
	
	&:hover {
        cursor: pointer;
	}
}

.button:nth-of-type(1) {
	border-top-left-radius: $rounded-2;
}

.button:nth-of-type(3) {
	border-top-right-radius: $rounded-1;
}

.button:nth-of-type(11) {
	border-bottom-left-radius: $rounded-1;
}

.button:nth-of-type(12) {
	border-bottom-right-radius: $rounded-2;
}

.button.zero {
    order: 3;
}

.button.go {
    order: 2;
}

.button.del {
    order: 3;
}
