<div (window:keydown)="keyboardHandler($event)"></div>

<header id="header">
  <div class="ham-menu" (click)="openSettings()">
    <i class="material-icons">
      menu
    </i>
  </div>
  <div class="left-stim">
    {{ game.configs['stim-qty'] }}
  </div>
  <div class="stats" (click)="openStats()">
    <i class="material-icons">
      graphic_eq
    </i>
  </div>
</header>

<main id="main">
  <div id="primary">
    <div class="number">{{ game.input }}</div>
  </div>
  <app-numpad
  (numpadEvent)="numpadHandler($event)"
  [running]="game.running"></app-numpad>
</main>

<footer id="footer">
  <div class="text">
    N = {{ game.configs['n-back'] }}
  </div>
</footer>

<router-outlet></router-outlet>
