$unsplash: "https://source.unsplash.com/random";

@mixin transparentBg() {
	border: 1px solid rgba(0, 0, 0, 0.66666);
	background-color: rgba(0, 0, 0, 0.66666);
	color: white;
	user-select: none;
	box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
}