.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > div {
        display: flex;
        flex-direction: column;
    }
}

.selector {
    padding: 8px;
}

.btn-group {
    display: flex;
    justify-content: space-around;
}